@charset "utf-8";


ul,ol{list-style:none;}

a{text-decoration:none;}

body{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #f3f3f3;
}


.header{
	margin: 0 auto;
	color: white;
	padding-top: 30px;
	width: 100%;
}

.header-wrap{
	text-align: center;
}

.header-wrap img{
	display: inline-block;
	width: 158px;
	height: 158px;
	background: white;
	border: 10px solid #71d6ce;
	border-radius: 50%;
	box-shadow: 0px 8px 12px 1px #4d605f;
}

.header-wrap img:hover{
	animation: scaleShadow 1s;
	animation-iteration-count:8;
}

.header-wrap .name{
	font-size: 28px;
	font-weight: bold;
}
.header-wrap .word{
	color: #d2dbda;
	font-size: 18px;
	font-weight: normal;
}
.header-wrap .intro{
	display: block;
	background-color: #30a692;
	margin: 0 auto;
	text-align: center;
	width: 100px;
	height: 30px;
	color: #fff;
	font-size: 14px;
	line-height: 30px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px 1px #4d605f;
	cursor: pointer;
}
.header-info{
	font-size: 18px;
	width: 300px;
	margin: 20px auto;
	padding: 10px;
	text-align: left;
	line-height: 2;
}
.header-info a{
	color: #f3f3f3;
}

.header-exp{
	height: 380px;
	padding-right: 200px;
    text-align: left;
    font-size: 16px;
    color: #1bbc9b;
    position: fixed;
    background: #deedeb;
    z-index: 4001;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display: none;
}
.header-exp .tt{
	font-size: 20px;
	color: #4d4c4c;
}
.header-exp .close{
	color: #4d4c4c;
	text-align: center;
	display: block;
	background-color: #30a692;
	margin: 0 auto;
	width: 100px;
	height: 30px;
	color: #fff;
	font-size: 14px;
	line-height: 30px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px 1px #4d605f;
	cursor: pointer;
}
.bt{
	font-size: 24px;
}
.page2 a{
	color: #4d4c4c;
}
.page2, .page3, .page4, .page5{
	margin: 0 auto;
	width: 80%;
}
.page3 .tch-item{
	position: relative;
}

.tch-item .tch-tt{
	color: #4d4c4c;
	font-size: 16px;
}

.tch-item span{
	color: #4d4c4c;
	font-size: 12px;
	position: absolute;
	top: 0;
	right: 0;
	border: 1px solid #4d4c4c;
	border-radius: 10px;
	padding: 0 4px;
}

.progress-wrap{
	height: 5px;
	background: #ccc;
}
.progress{
	float: left;
	height: 100%;
	background: linear-gradient(to right, #278d90 5%, #278d90 100%) no-repeat left bottom;
	background-size: 100% 100%;
}

.tch-item:hover .progress{
	animation: proTransform 1s forwards;
}

@keyframes proTransform{
	from{
		background-size: 0% 100%;
	}
	to{
		background-size: 100% 100%;
	}
}

@keyframes scaleShadow{
	0%,100%{
		box-shadow: 0 0 0 0 #71d6ce;
	}
	50%{
		box-shadow:0 0 15px 2px #71d6ce;
	}
}

/*@media only screen and (min-width: 768px) {
	.page{
		display: flex;
	}
	.header{
		width: 100%;
		flex: 1;
	}
	.container{
		width: 100%;
		flex: 1;
	}
}*/
@media only screen and (max-width: 768px) {
	.header-exp{
		height: 52vh;
		width: 70vw;
		padding: 10px;
	}
}